#quiz {
    width: 100%;
    left: 0%;
    top: 0%;
    height: 100%;
    overflow: hidden;
    font-size: 0.85em;
    /*display: none;*/
}

#statement-area {
    /*background-image: url("../../img/bubble_left.png");*/
    /*background-size:cover;*/
    /*background-repeat: no-repeat;*/

    background: rgba(250, 250, 250, 0.8);
    border-radius: 5px;
    left:30%;
    top:5%;
    width: 62%;
    padding:3%;
    position: absolute;
    text-align: justify;
}

#options-area {
    /*background-image: url("../../img/bubble_right.png");*/
    /*background-size:cover;*/
    /*background-repeat: no-repeat;*/

    background: rgba(250, 250, 250, 0.8);
    border-radius: 5px;

    left: 2%;
    top: 52%;
    width: 70%;
    position: absolute;
    padding: 2%;
}

.option-block {
    /*position: absolute;*/
    height: 94%;
    width: 92%;
    text-align: justify;

    z-index: auto;
    cursor: pointer;
    margin-left: 4%;
    margin-right: 4%;

}

#leftOpt {
    z-index: 999;
    width: 5%;
    cursor: pointer;
    position: relative;
}

#leftOpt:hover {
    transform: translateX(-4px);
}

#rightOpt {
    z-index: 999;
    width: 5%;
    cursor: pointer;
    position:relative;
}

#leftOpt img, #rightOpt img { vertical-align: middle;}

#rightOpt:hover {
    transform: translateX(4px);
}

.option-show {
    display: block !important;
}

#options-list {
    width: 90%;
    position: relative;
    z-index: 999;
}

#leftOpt, #rightOpt, #options-list, #qt-say-button
{
    vertical-align: middle;
    display: block !important;
    float:left;
    height: 100%;
    /*position: fixed;*/
}

#qt-say-button {
    padding: 3%;
    margin: 2%;
    margin-top: 5%;
    margin-bottom: 0;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    color: rgba(1,1,1,1);

    background: rgb(135,224,253); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,224,253,1)), color-stop(40%,rgba(83,203,241,1)), color-stop(100%,rgba(5,171,224,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */

    width: 90%;
    z-index: 2;
    position: relative;
    cursor: pointer;
}